<br />
<br />
<h1><u>Civil Rights</u></h1>
<p> What are Civil Rights here in the United States?</p>
<p>Civil rights is the promise of equivalent social opportunities and protection under law, regardless race, religion, or other personal characters.</p>
<br />
<h1><u>Discrimination</u></h1>
<p>If you feel like you have been discriminated due to the following:</p>
<p>Race/Color</p>
<p>Age</p>
<p>Sex</p>
<p>Religion</p>
<p>Sexual Harrasement</p>
<p>Pregnancy</p>
<p>National Origin </p>
<p> Or any other trait that you may believe has violated your Civil Rights</p>
<br />
<h1><u>Excessive Force</u></h1>
<p>Excessive Force is the force in excess an officer of any law enforcement agency may have used due to this person or group believed it was necessary.</p>
<p>The officers of law enforcement agencies can be liable for using excessive force in arrests, seizures, and investigatory stops. Officers of these law enforcement agencies can also be liable if he or she does not prevent another officer from effecting excessive force.</p>
<p>Whether this person, or group believes that can be disputable in a court of law, and can be determined by a jury. </p>
<br />
<h1><u>Cruel and Unusual Punishment</u></h1>
<p> In the constitution of the United States of America, amendment number 8 states “excessive bail shall not be required, nor excessive fines imposed, nor cruel and unusual punishments inflicted".</p>
<p>In simpler terms, it means that courts are required to give you a fair bail, fine, and not a cruel & unusual sentence. </p>
<h1><b> Contact Me to set up an appointment to talk about your situation.</b></h1>
