<div class="col-10 offset-1">
<br />
  <h1><u>Criminal Defense Page</u></h1>
  <p>Criminal defense is the act of defending a person, or company of crimes they have been accused of committing. </p>
  <br />

<h1><u>Juvenile Crimes</u></h1>
<p>This is when the law of the United States has been violated by a person who has not reached the age of 18.</p>

<h1><u>State Crimes</u></h1>
<p>State crimes are actions that violate the state’s law. These include:</p>
<p>-Robbery </p>
<p>-Burglary & Theft</p>
<p>-Arson</p>
<p>-Homicide</p>
<p>-Rape</p>

<h1><u>Federal Crimes</u></h1>
<p>Federal Crimes are crimes that violate the USA federal code, or the individual carries criminal activity over several states. These include:</p>
<p>-Commercial Fraud </p>
<p>-Wire Fraud</p>
<p>-Drug Trafficking</p>
<p>-Several other crimes can become Federal Crimes, subject to condition. </p>

<h1><b> Contact Me to set up an appointment to talk about your situation.</b></h1>


</div>