<div class="photo col-12 col-sm-4">
  <%= image_tag 'david_cantu.jpg', class: 'img-fluid' %>
</div>
<p class="motto">The aim is to protect, preserve, and improve the constitution, our legal system and the people of our community.</p>


<h1 class"title"><u>Background</u></h1>
<br />
<p class="background">David Cantu is originally from McAllen, Texas, where he attended James “Nikki” Row High School. Upon graduating he enrolled into St. Mary’s University in San Antonio, where he received a Baccalaureate degree of Business Administration in Accounting. Mr. Cantu then followed his dream and enrolled at Texas Southern University’s Thurgood Marshall School of Law in Houston, Texas.  </p>
<p class="background">Upon graduating and becoming a licensed attorney with the State Bar of Texas, David transitioned back to McAllen and began practicing law with his father, a very respected lawyer, Arturo R. Cantu. David focused on representing the indigent in criminal cases, ranging from misdemeanors against the State of Texas to Federal crimes against the United States of America.  </p>
<p class="background">In December 2019, David accepted an offer for the Hidalgo County District Attorney’s Office in the Civil Litigation Division, in which he could focus on government law including contracts and employment law.  </p>
<p class="background">Mr. Cantu continues to take cases, and is open to consult on legal matters if need be. This website provides you several methods to contact Mr. Cantu.