<br/>
<br />
<div class="col-10 offset-1">

<h1><u>Injury</u></h1>
<br />

<p><u>Auto Collision Injury</u></p>
<p>David Cantu can help you if you have been involved in an automobile accident. It is important to seek help after an accident after contacting the police due to injury, damage to your vehicle, liability, medical attention if necessary. Mr. Cantu has experience with many cases he has helped in his career, and can guide you in the correct path. </p>


<p><u>Trucking Accidents Injury</u></p>

<p>Trucking Accidents are when an 18-wheeler, semi-trucks, or any other commercial vehicle causes personal injury and or property damage. It is important to contact Mr. Cantu if you have been involved in an accident with one of these vehicles. He can help you take a look a special truckers licenses, compensation for injury, and negligence on part of the driver and or company. </p>

<p><u>Premises Liability </u></p>
<p>Any location you visit, either for shopping or leisure is expected to be safe for the visitors. Premises liability is a set of required rules of the Texan property owner which ensure the safety of the visitors. These include dog bites, slips and falls, amusement park accidents, swimming pool accidents, and several more.  David Cantu has had experience with these cases, and can help you with your situation.</p>
<br />

<h1><b>Contact Me to set up an appointment to talk about your situation.</b></h1>
</div>