<br />
<div class="col-10 offset-1">

<h1> Español</h1>

<p>David Cantu es originario del Valle del Rio Grande, y sabe lo importante que es atender a sus cliente en español. Aunque el Sr. Cantu no domina el español, el tiene varios recursos para poder ayudarte en tu caso. </p>

<p>David Cantu tiene experiencia en el area de crimenes juveniles, estatales, y federales. David Cantu tambien tiene experiencia en derechos civiles y algun tipo de lesion.</p>

<p>Cualquier pregunta que tenga sobre un asunto legal no dude en contactar. </p>




</div>

